/* Navigation font styling  */
.nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* Footer CSS */
footer {
  background-color: #2f2f2f;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 3% !important;
}

/* Navigation placement  */
.navbar .navbar-nav {
  float: none;
  font-size: larger;
}

/* Section Container Margin top */
section.container {
  margin-top: 3% !important;
}

/* Section Container and Jumbotron Box-Size */
section.container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

/* About Id Box and Frame */
#About {
  padding-top: 15px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

/* Contact-me padding */
#contact-me {
  padding-top: 3em;
}

/* Jumbotron/Background Image */
.jumbotron-image {
  background-image: url("../img/Background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Blank Image Placeholder Img */
.modal-jumbo {
  background-image: url("../img/placeHolder.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

/* Horiseon placeHolder */
#img-modal-horiseon .jumbotron {
  background-image: url("../img/Horiseon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}


/* Ernest Picture */
#img-modal-Ernest .jumbotron {
  background-image: url("../img/Ernest.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.nav-link:active {
  color: white;
}

/* Portfolio img and font styling*/
#portfolio-jumbo img {
  width: 100%;
  height: 100%;
}
#portfolio-jumbo .img-portfolio:hover {
  font-weight: bold;
}

/* Hovering Img Styling and Transition */
#portfolio-jumbo .img-portfolio img:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 10px 10px 5px #888888;
  cursor: pointer;
}

/* Modal Description Box */
#modal-descrip .jumbotron {
  padding: 15px;
}
